__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.env

.pytest_cache/
.coverage
htmlcov/


Frontend/node_modules/
Frontend/dist/
Frontend/.vite/

Frontend/.env
Frontend/.env.*

.vscode/

.DS_Store
Thumbs.db

*.log